/* CSS cho form */
form {
  display: flex;
  /* flex-direction: column; */
  /* max-width: 400px; */
  margin: 0 auto;
}

/* CSS cho div chứa ảnh đại diện */
form div:first-child {
  text-align: center;
  margin-bottom: 20px;
}

/* CSS cho hình ảnh đại diện */
form img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* CSS cho label và input */
form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CSS cho button */
form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.wrapper-profile h1 {
  text-align: center;
}

.wrapper-form-profile {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
}

form {
  justify-content: center;
}
